---
layout: default
---

<div class="home">

  <h2 class="page-heading">Screenshots</h2>

  <div class="preview-screens">
    <a href="assets/new-task.png">
      <img class="preview-screen" src="assets/new-task-preview.png"></img>
    <a>
    <a href="assets/classic-view.png">
      <img class="preview-screen" src="assets/classic-view-preview.png"></img>
    <a>
    <a href="assets/active-task.png">
      <img class="preview-screen" src="assets/active-task-preview.png"></img>
      </a>
  </div>

  <h2 class="page-heading">Features</h2>

  <ul>
    <li>Reschedule using resize & drag-and-drop</li>
    <li>Ability to open website or desktop app for specific task</li>
    <li>Ability to add daily and weekly recurring tasks</li>
    <li>Synchronization with Google calendar</li>
    <li>Import / Export to save or share tasks</li>
    <li>Auto-updates</li>
  </ul>

  {{ content }}

</div>
